



<div class="icon-box">
        <mat-icon><img src="../../../assets/images/addalert.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,1)"/></mat-icon>
        <mat-icon><img src="../../../assets/images/addperson.svg" alt="" class="icon-img"  /></mat-icon>
        <mat-icon   [matMenuTriggerFor]="menu" #menuTrigger><img src="../../../assets/images/color.svg" alt="" class="icon-img"  /></mat-icon>
        <mat-menu #menu="matMenu">
                <div class="areaCls">
                 <button mat-fab color="warn" (click)="ChangeColorEvent(note.noteId,3,'red')"></button>
                 <button mat-fab color="primary" (click)="ChangeColorEvent(note.noteId,3,'orange')"></button>
                 <button mat-fab color="accent" (click)="ChangeColorEvent(note.noteId,3,'purple')"></button>
                </div>
        </mat-menu>
        <mat-icon><img src="../../../assets/images/image.svg" alt=""class="icon-img" (click)="GetEvent(note.noteId,4)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/archive.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,5)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/dotver.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,6)"  /></mat-icon>
</div>

