



<div class="icon-box">
        <mat-icon><img src="../../../assets/images/addalert.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,1)"/></mat-icon>
        <mat-icon><img src="../../../assets/images/addperson.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,2)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/color.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,3)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/image.svg" alt=""class="icon-img" (click)="GetEvent(note.noteId,4)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/archive.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,5)" /></mat-icon>
        <mat-icon><img src="../../../assets/images/dotver.svg" alt="" class="icon-img" (click)="GetEvent(note.noteId,6)"  /></mat-icon>
        <button mat-button class="btn-close">close</button>
</div>

