
.card-head-pin-icon{
    float: right;
    
}

input[type="text"],
textarea {
 border: none;
  outline: none;
  resize: none;
  width: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.icon-h-bar{
    display: flex;
    width: 100%;
    //
   

  }
  


  .main-card{
   width: 100%;
 
  }

  .card-header{
    display: flex;
   
  }