
    <mat-card class="example-card" >
        <mat-card-header class="card-header">
            <mat-card-title>
            <textarea class="card-head-title" type="text" placeholder="Title" rows="1" cols="50" [value]="noteTitle" (change)="changeTitle($event)"></textarea>
            </mat-card-title>
            <img src="../../../assets/images/pushpin.svg" alt="change image"  >
        </mat-card-header>
        <mat-card-content>
         
            <textarea class="card-middle-content" id="w3review" name="w3review" rows="3" cols="50" placeholder="Take a note..." [value]="noteContext" (change)="changeNote($event)" ></textarea>
            
        </mat-card-content>
        <mat-card-actions >
            <div class="icon-h-bar">

                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/addalert.svg" alt="" class="icon-img" /></mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/addperson.svg" alt="" class="icon-img"/></mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/color.svg" alt="" class="icon-img"/></mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/image.svg" alt=""class="icon-img" /></mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/archive.svg" alt="" class="icon-img"/></mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon><img src="../../../assets/images/dotver.svg" alt="" class="icon-img"/></mat-icon>
                </button>
                <button (click)="OnSubmit()" *ngIf="IsUpdate">close</button><!---->
            </div>
        </mat-card-actions>
</mat-card>
  