

<div class="container">
    <div class="inner-wrapper" >

      <div class="card" >
        <div class="inner-card" >
          <div class="content">
        
            <b><div role="textbox" tabindex="0" contenteditable="true" class="cont-class"  [textContent]="noteTitle" (input)="changeNoteTitle($event)">
                
            </div></b>
            
            <div role="textbox" tabindex="0" contenteditable="true" class="cont-class"  [textContent]="noteContext" (input)="changeNoteContent($event)">
               
            </div>
          
          </div>
          <div class="btn-wrapper">
            <app-icon class="icon-box"></app-icon>
            <button mat-button class="icon-img-close" (click)="onDataUpdate()" >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

