.int-fild{
    height: 10px;
}

.main-container{
   
    display: flex;
    flex-direction: column;
    margin: 50px 500px 0px 500px;
    text-align: center;
    border: thin;
    border-radius: 10px;
    border-color:cadetblue;
    padding: 40px 0px 80px 0px;
    box-shadow: 0 0 2px 2px cyan;

}



.login-container{
    
}
.head-title-sign1{
    margin-top: 10px;
    font-size: 18px;
}

.head-title-sign2{
    margin-top: 15px;
    font-size: 25px;
}


.int-fild-id{
    width: 70%;
    margin: 0px 0px 0px 0px;
}

.int-fild-pass{
    width: 70%;
    margin: 0px 0px 0px 0px;
}

.forget{
    margin: 0px 240px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.bottom-container{
    display: flex;
    margin: 50px 65px 0px 65px;
    padding: 5px 10px 5px 10px;
}

.create-btn{
    
   

}



.login-btn{
    padding: 0px 0px 0px 165px;
}


.antocr2{
    text-decoration: none;
}