
    <div class="main-frame-login">
      <div class="main-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="login-container">
                <img class="pic-hed-log" src="../../../../assets/images/fundoo2.0.png" >
                  <p class="head-title-sign2">Sign in</p>
                  <p class="head-title-sign1">Use your Google Account</p>
                  

                        <mat-form-field class="int-fild-id" appearance="outline">
                          <mat-label>Email or Phone</mat-label>
                          <input matInput placeholder="Email Address" formControlName="email">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                
                        <mat-form-field class="int-fild-pass" appearance="outline" >
                          <mat-label>Password</mat-label>
                          <input  matInput placeholder="Password" formControlName="password">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                  
                    <a class="forget" href="#">Forget Password?</a>
              </div>
        
              <div class="bottom-container">
                  <div class="create-btn">
                      <button mat-flat-button class="crt-btn12" routerLink="/registration">Create New</button>
                  </div>
                  
                  <div class="login-btn">
                      <button mat-raised-button color="primary" type="submit">Log In</button>
              </div>

              </div>
        </form>




    </div>
  </div>
