
<div class="main-frame-login">
    <div class="main-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-container">
              <img class="pic-hed-log" src="../../../../assets/images/fundoo2.0.png" >
                <p class="head-title-sign1">Forget Password</p>
                      <mat-form-field class="int-fild-id" appearance="outline">
                        <mat-label>Email or Phone</mat-label>
                        <input matInput placeholder="Email Address" formControlName="email">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
            </div>
      
            <div class="bottom-container">
                <div class="login-btn">
                    <button mat-raised-button color="primary" type="submit">Send</button>
            </div>

            </div>
      </form>