.main-frame-reg{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
 
 }

.main-container{
   
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 0.8px 0.8px cyan;
    padding: 3% 3% 3% 3%;
    margin-top: 2%;

}

.pic-hed{
    height: 40px;
    width: 120px;
}

.title-head5{
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    padding: 30px 0px 50px 0px;
}

.name-pan{
    display: flex;
    gap: 5%;
    width: 100%;
}

    .int-fild-name{
        width: 100%;
        color: brown;
    }

        .user-pass{
            width: 10%;
            color: blue;
        }



    .int-fild-last{
        width: 100%;
    }



.pass-pan{
    display: flex;
    gap: 3%;
    width: 100%;
   
}

    .int-fild-cpass{
        width: 100%;
    }

    .int-fild-pass{
        width: 100%;
    }



.current-email{
    width: inherit;
    margin: 20px 0px 20px 0px;
    
}

    .int-emailss{
        width: inherit;
        color: blue;
    }

.left-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.crt-btn1{
    color: blue !important;
}



.bottom-pan{
    display: flex;
    width: 100%;
}

.sign-btn{
    width: 100%;
}

    .signIn-btn{
        color: blue !important;
        width: 100%;
        text-align: left;    
    }

    .midile{
        width: 100%;
    }




.right-container{
    display: block;
    text-align: center;
    padding-top: 15%;
    width: 100%;
    height: auto;
        
}

.pic-rte22{
    height: 250px;
    width: auto;
}

.qoute-cls{
    padding: 0% 20% 0% 20%;
    
}

.qoute-rte1{
    width: 100%;
    font-size: large;
    font-family: "Gill Sans", sans-serif;
    margin: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
}


@media screen and (min-width: 1600px) and (max-width: 2000px) {
    .main-frame-reg{
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 22%;
    
    }
}

@media screen and (max-width: 1200px) {

    .right-container{
        display: none;
    }

    .main-container{
        display: block;
        border-radius: 0px;
        border-color:white;
        box-shadow: none;
       
    }

    .main-frame-reg{
       display: flex;
       flex-direction: column;
       padding-left: 10%;
       padding-right: 10%;
    
    }
    .name-pan{
        width: 100%;
    }

    .title-head5{
        font-size: 20px;  
        padding: 20px 0px 20px 0px;
    }

    .pass-pan{
        
        display: flex;
        width: 100%;
    }

    .int-fild-cpass{
        width: 100%;
    }
    
    .int-fild-pass{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .main-container{
        border-radius: 0px;
        border-color:white;
        box-shadow: none;
       
    }

    .name-pan{
        display: block;
    }

    .pass-pan{
        display: block;
    }
}



