.main-frame-reg{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}

.main-container{
   
    display: flex;
    border: thin;
    border-radius: 10px;
    border-color:cadetblue;
    padding: 50px 50px 50px 50px;
    box-shadow: 0 0 2px 2px cyan;

}


.title-head5{
    font-size: 35px;
    font-family: "Gill Sans", sans-serif;
    padding: 30px 0px 50px 0px;
}
.name-pan{
    display: flex;
    gap: 5%;
    width: 100%;
}

.int-fild-name{
    width: 100%;
}

.int-fild-last{
    width: 100%;
}



.pass-pan{
    display: flex;
    gap: 20px;
   
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.current-email{
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.int-emailss{
    width: 100%;
}

.bottom-pan{
    display: flex;
    width: 100%;
    
}

.sign-btn{
    width: 100%;
}

.midile{
    width: 100%;
   
}




.right-container{
    text-align: center;
    padding-top: 15%;
    width: 100%;


    
}
.pic-rte22{
    height: 250px;
    width: auto;
}

.qoute-cls{
    padding: 0% 20% 0% 20%;
    
}

.qoute-rte1{
    width: 100%;
    font-size: large;
    font-family: "Gill Sans", sans-serif;
    margin: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .right-container{
      display: none;
    }
}

@media screen and (max-width: 800px) {
    .title-head5{
        font-size: 25px;  
        padding: 20px 0px 20px 0px;
    }
}


@media screen and (max-width: 700px) {
    .name-pan{
        display: block;
        width: 100%;
    }

    .title-head5{
        font-size: 20px;  
        padding: 20px 0px 20px 0px;
    }

    .pass-pan{
        
        display: block;
        width: 100%;
    }
}



