



<!-- <form [formGroup]="NoteData" (ngSubmit)="onSubmit()">
    
    <mat-card class="example-card">
        <mat-card-header (click)="toggleDiv()" class="card-header">
            <mat-card-title>
                <b><div role="textbox" tabindex="0" contenteditable="true" class="cont-class-title" placeholder="Take a note" formControlName="tittle" >
                            qqqqqqqqqqqqq</div></b>
            </mat-card-title>
            <div class="dis-icon">
                <img src="../../../assets/images/pushpin.svg" alt="change image" [style.display]="'none'" id="#myicon-pin">
                <img src="../../../assets/images/Checkbox.svg" alt="Newlist" id="#myicon-t-1">
                <img src="../../../assets/images/brush.svg" alt="Drawing" id="#myicon-t-2">
                <img src="../../../assets/images/image.svg" alt="change image" id="#myicon-t-3">
            </div>
        </mat-card-header>
        <mat-card-content #myDiv [style.display]="'none'">
         
            <div role="textbox" tabindex="0" contenteditable="true" class="cont-class-note" [ngStyle]="changeDisply()"  formControlName="note">
                Note
            </div>

        </mat-card-content>
        <mat-card-actions #myicon [style.display]="'none'">
            <div class="btn-wrapper">
                <app-icon class="note-show-icon"></app-icon>
                <button mat-button class="icon-img-close" type="submit" [disabled]="NoteData.invalid">close</button>
            </div>
        </mat-card-actions>
    </mat-card>

    </form>  -->


           <div class="card" >
            <div class="inner-card" >
                <form [formGroup]="NoteData" (ngSubmit)="onSubmit()">
                    <div class="content" >
                        <div class="trigger-con-before" [ngStyle]="changeDisplytriger()">
                            <input type="text" class="int-box" placeholder="Take a Note....." (click)="toggle()" />
                            <div class="dis-icon" >
                                <img src="../../../assets/images/pushpin.svg" alt="change image" [style.display]="'none'" id="#myicon-pin">
                                <img src="../../../assets/images/Checkbox.svg" alt="Newlist" id="#myicon-t-1">
                                <img src="../../../assets/images/brush.svg" alt="Drawing" id="#myicon-t-2">
                                <img src="../../../assets/images/image.svg" alt="change image" id="#myicon-t-3">
                            </div>
                        </div>
                      
                        <div  [ngStyle]="changeDisply()">
                            <b><div role="textbox" tabindex="0" contenteditable="true" class="cont-class-title"  [textContent]="noteTitle" (input)="changeNoteTitle($event)" >
                                
                            </div></b>
                            <div role="textbox" tabindex="0" contenteditable="true" class="cont-class-note"  [textContent]="noteContext" (input)="changeNoteContent($event)">
                               
                               </div>
                               <div class="btn-wrapper" [ngStyle]="changeDisplyflex()" >
                                   <app-icon class="icon-box"></app-icon>
                                   <button mat-button class="icon-img-close" type="submit" (click)="onSubmit()">close</button>
                               </div>
                            
                        </div>  
                    
                      
                    
                    </div>
                  
                </form>
            </div>
          </div> 

   